.favoritePage {
  height: 128px;
  opacity: 0px;
  background: var(--gray-100);
}

.favorite {
  text-align: center;
}

.favoriteImg {
  margin-top: 10px;
}

@media (max-width: 390px) {
  .favoriteImg {
    width: 150px;
    height: 38px;
  }
}
