.favorite {
  font-size: 40px;
  font-weight: 600;
  line-height: 47.73px;
  text-align: center;
}

.favoritePage {
  padding: 20px;
  background: var(--gray-100);
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
