.footerWrapper,
.footerContent,
.imageWrapper {
  display: flex;
  justify-content: space-between;
}

.footerWrapper {
  background-color: var(--black);
  align-items: center;
  max-width: 1920px;
  width: 100%;
  margin-top: 120px;
  padding: 32px 104px 108px 104px;
  flex-wrap: wrap;
}

.footerContent {
  align-items: center;
  gap: 30px;
  text-wrap: nowrap;
}

.footerColor {
  color: #676767;
  text-wrap: nowrap;
}

.footerLink {
  text-decoration: none;
  color: #cfcfcf;
  text-wrap: nowrap;
}

.imageWrapper {
  gap: 12px;
}

/* 태블릿 */
@media (max-width: 1199px) {
  .footerWrapper {
    padding: 32px 104px 108px 104px;
    flex-wrap: wrap;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .footerWrapper {
    padding: 32px;
    flex-wrap: wrap;
    gap: 60px 0;
  }

  .footerColor {
    order: 3;
    flex-basis: 100%;
  }
}
