* {
  box-sizing: border-box;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;

  --gray-500: #3e3e43;
  --gray-400: #9fa6b2;
  --gray-300: #ccd5e3;
  --gray-200: #e7effb;
  --gray-100: #f0f6ff;
}
