.landingWrapper {
  background-color: var(--gray-100);
}

.header {
  background-image: url("../public/asset/LandingHeader.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 80%;
  height: 953px;
  text-align: center;
  padding-top: 70px;
}

.header h1 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 80px;
}

.header span {
  background: linear-gradient(90deg, var(--primary), #ff9f9f);
}

.header img {
  width: 50px;
  height: 50px;
}

.contents {
  display: flex;
  flex-direction: column;
  max-width: 998px;
  margin: 120px auto 0;
  gap: 100px;
}

.contents h2 {
  font-size: 48px;
  letter-spacing: -0.3px;
}

.contents p {
  font-weight: 500;
  line-height: 24px;
  color: #6b6b6b;
}

.saveContent,
.shareContent,
.managementContent,
.searchContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 998px;
  max-height: 450px;
}

.managementContent .imageContainer,
.searchContent .imageContainer {
  order: -1;
}

.saveContent span {
  background: linear-gradient(90deg, #fe8a8a, #a4ceff);
}

.managementContent span {
  background: linear-gradient(90deg, #6fbaff, #ffd88b);
}

.shareContent span {
  background: linear-gradient(90deg, #6d7ccd, #528885 22%);
}

.searchContent span {
  background: linear-gradient(90deg, #fe578f, #68e8f9);
}

.header span,
.contents span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.imageContainer {
  max-width: 550px;
  max-height: 450px;
  width: 100%;
}

.images {
  position: relative;
  width: 100%;
  aspect-ratio: 5/4;
}

.images img {
  border-radius: 15px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 태블릿 */
@media (max-width: 1199px) {
  .header {
    height: 756px;
  }

  .contents {
    margin: 80px auto 0;
    padding: 0 33px;
  }

  .contents h2 {
    line-height: 57.28px;
  }

  .saveContent,
  .managementContent,
  .shareContent,
  .searchContent {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  .imageContainer {
    max-width: 385px;
    max-height: 315px;
    width: 100%;
  }
}

/* 모바일 */
@media (max-width: 390px) {
  .header {
    height: 399px;
    padding-top: 28px;
  }

  .header h1 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  .contents {
    gap: 82px;
    margin: 40px auto 0;
  }

  .contents h2 {
    font-size: 24px;
    line-height: 28.64px;
    text-wrap: nowrap;
  }

  .contents h2 br,
  .contents p br {
    display: none;
  }

  .contents p {
    font-size: 15px;
    line-height: 22.5px;
  }

  .saveContent,
  .managementContent,
  .shareContent,
  .searchContent {
    flex-direction: column;
  }

  .contents .imageContainer {
    order: 3;
  }

  .imageContainer {
    max-width: 325px;
    max-height: 265.91px;
    width: 100%;
    margin-top: 24px;
  }
}
