.card {
  width: 100%;
  max-width: 340px;
  height: 334px;
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.08));
  background: var(--white);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative; /* Ensure Image component works properly */
}

.noImage {
  width: 100%;
  height: 200px;
  background: var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardMenuList {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardMenuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardUpdateAt {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 13px;
  color: var(--gray-400);
}

.cardTitle {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin: 10px 0;
}

.cardDescription {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-500);
  margin: 0;
}

.cardCreatedAt {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-500);
}

.cardStarWrap {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
