.Label,
.Button {
  display: block;
  width: 100%;
}

.Input {
  display: block;
  width: 400px;
}

.Label {
  margin: 0;
}

.Input {
  margin: 8px 0 24px;
}

.Button {
  align-items: center;
  color: blueviolet;
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0 32px;
}

.HorizontalRule {
  margin: 32px 0;
}

.Form {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.SocialLoginbox {
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 66px;
  background-color: E7EFFB;
  margin: 30px;
  padding: 5px;
  border: 1px solid CCD5E3;
  border-radius: 15px;
}

.sociallogin {
  display: flex;
  align-items: center;
  justify-content: center;
}
