.nav,
.userWrapper,
.userInfo {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
  padding: 20px 200px;
  background-color: var(--gray-100);
}

.userSection {
  margin-top: 13px;
  margin-bottom: 12px;
}

.userWrapper {
  gap: 24px;
}

.userInfo {
  justify-content: center;
  gap: 6px;
}

.userInfo span {
  font-size: 14px;
  line-height: 16.71px;
  color: #373740;
}

.image {
  width: 128px;
  height: 28px;
}

/* 태블릿 */
@media (max-width: 1199px) {
  .nav {
    padding: 13px 32px;
  }

  .logoWrapper {
    width: 88.67px;
    height: 16px;
  }
}

/* 모바일 */
@media (max-width: 390px) {
  .userInfo span {
    display: none;
  }

  .userWrapper {
    gap: 12px;
  }
}
