.Container {
  background-color: #e6f0ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
  margin: 24px 0;
  width: 100%;
  height: 66px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 24px 12px 24px;
}

.SocialLoginLinksContainer {
  display: flex;
  gap: 16px;
}
